 /*
========================================
    (1.1) Goggle Fonts
========================================
*/
 @import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
 /* 
font-family: 'Lato', sans-serif;
*/


 /*
========================================
	(2.1) Css Style
========================================
*/

 @import "../css/helper.css";

 body {
     font-family: Nunito;
 }

 h3{
     font-size: 30px !important;
     line-height: 45px;
 }

 #hero_area h1{
     margin-bottom: 50px;
 }
  
 .navbar-light .navbar-nav .nav-link {
     color: #000;
     font-weight: bold;
     font-size: 20px;
 }

 .btn-group button {
     margin-right: 10px;
 }

 .single_box img {
     height: 250px;
     width: 100%;
 }

 .display_block {
     display: none;
 }

 .single_box h2 {
     font-size: 22px;
     text-transform: uppercase;
     font-weight: 900;
     padding-top: 20px;
 }

 .hero_banner_section {
     padding: 60px 0;
 }

 .box_img {
     border-radius: 100% 0% 69% 31% / 24% 59% 41% 76%;
     background: black;
     overflow: hidden;
 }

 .first_box {
     display: flex;
     justify-content: center;
     width: 50%;
     margin: 0 auto;
     text-align: center;
     margin-bottom: 50px;
 }

 .first_box h2 {
     font-family: PT sans;
 }

 .hero_banner_section {
     position: relative;
     background: #000B76;
     height: 500px;
 }

 section#hero_area p {
    font-family: poppins;
    font-size: 25px;
    font-weight: 300;
    line-height: 35px;
    color: gray;
 }

 .parag {
    display: flex;
    justify-content: end;
    align-items: end;
    height: 100%;
    margin-top: 20px;
}

.parag p {
    text-align: left;
}

 .hero_banner_section:after {
     content: "";
     position: absolute;
     left: 0;
     background: url(../img/wave.svg);
     bottom: -40%;
     height: 200px;
     width: 100%;
     background-repeat: repeat;
     background-size: cover;
     z-index: 99;
 }

 .image_style img {
     width: 100%;
     height: auto;
     border-radius: 48% 52% 57% 43% / 47% 100% 0% 53%;
 }

 .box_area {
     padding-bottom: 60px;
 }

 .section-title {
     text-align: center;
     padding-bottom: 60px;
 }

 .section-title h2 {
     font-family: Ubuntu;
     line-height: 50px;
     font-weight: 300;
     font-size: 40px;
     word-spacing: 10px;
  
 }

 .single_box_img img {
     width: 100%;
     height: auto;
 }

 .singlebox h2 {
     text-align: center;
     font-size: 28px;
     font-weight: 900;
     text-transform: uppercase;
     line-height: 70px;
     color: #fff;
 }

 .singlebox {
     position: relative;
     overflow: hidden;
 }

 .singlebox h2 {
     position: absolute;
     display: flex;
     justify-content: center;
     align-items: center;
     width: 100%;
     height: 100%;
     bottom: -30%;
     z-index: 1;
     right: -6%;
     font-size: 25px;
     text-transform: capitalize;
     color:;
 }

 .singlebox:after {
     content: "";
     position: absolute;
     top: 0;
     display: flex;
     justify-content: center;
     align-items: center;
     width: 100%;
     height: 100%;
     background: rgba(0, 0, 0, .1);

 }

 .single_box_img:hover img {
     transition: all ease 500ms;
     transform: scale(1.5);
 }

 .single_box_img img {
     transition: all ease 500ms;
     transform: scale(1);
 }


.singlebox:hover  .text_overlay {
    top: 0;
    transition: all ease 500ms;
}

 .text_overlay {
    position: absolute;
    top: -100%;
    right: 0;
    left: 0;
    margin: 0 auto;
    background: #fff;
    width: 90%;
    height: 80%;
    z-index: 99999999999;
    transition: all ease 500ms;
    margin: 20px;
 }

 .text_overlay h2 {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 100%;
     height: 100%;
     top: 0;
     right: 0;
     color: gray;
     text-transform: capitalize;
 }




 .innocence h1 {
     line-height: 100px;
 }

 section#footer_area {
     padding: 50px 0;
     background: #000000;
 }

 .single_footer h2 {
     color: #fff;
     font-size: 20px;
     line-height: 30px;
     padding-bottom: 16px;
     font-weight: 100;
     letter-spacing: 3px;
 }

 .footer_menuu ul li a {
     color: #fff;
     text-decoration: none;
     font-weight: normal;
     line-height: 30px;
     padding-left: 20px;
 }

 .footer_menuu ul li {
     position: relative;
 }

 .footer_menuu li:after {
     content: "";
     position: absolute;
     top: 15px;
     left: 0;
     background: white;
     display: block;
     width: 8px;
     height: 1px;
     border-radius: 100%;

 }


 .sidepanel {
     width: 0;
     position: fixed;
     z-index: 1;
     height: 100vh;
     top: 0;
     right: 0;
     background-color: #111;
     overflow-x: hidden;
     transition: 0.5s;
     padding-top: 60px;
 }

 .sidepanel a {
     padding: 8px 8px 8px 32px;
     text-decoration: none;
     font-size: 25px;
     color: #818181;
     display: block;
     transition: 0.3s;
 }

 .sidepanel a:hover {
     color: #f1f1f1;
 }

 .sidepanel .closebtn {
     position: absolute;
     top: 0;
     right: 25px;
     font-size: 36px;
 }

 .openbtn {
     font-size: 20px;
     cursor: pointer;
     background-color: #fff;
     color:#000;
     padding: 10px 15px;
     border: none;
 }

 .openbtn:hover {
     background-color: #fff;
 }

 .menu_area {
     display: inline-flex;
 }

 .menu_area h3 {
     padding-top: 16px;
 }

 .menu_area h3 {
     font-size: 22px;
     line-height: 38px;
     padding-left: 14px;
 }

 .innocence h3 {
    color: #fff;
}

.mixbutton {
    margin-top: 30px;
}

.menu_area_sidebar {
    text-align: center;
}

.menu_area_sidebar h3 {
    color: #fff;
    font-size: 22px !important;
    line-height: 30px !IMPORTANT;
}

.menu_area_sidebar {
    border-bottom: 1px solid #fff;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.menu_area h4 {
    font-size: 22px;
    line-height: 60px;
    padding-left: 10px;
    font-weight: bold;
}

.txred{
    color: red !important;
}

.innocence h2 {
    color: #fff;
    font-size: 40px;
    padding-top: 30px;
}

.innocence h3:first-child {
    font-size: 35px !important;
    padding-bottom: 16px;
}